<%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/head-nav.ejs') %>
    <main class="main-content">
       <h3>Created Games: </h3> 
       <%if(games.length <= 0) { %>
            <p>No games to show yet...</p>
        <% } else { %>
            <% games.forEach(game => { %>
            
              <div> Game Title: <span> <%= game.title  %></span></div>  
               <div> Game Description: <span><%= game.description  %></span> </div>
              <div> Game Price: <span>$<%= game.price  %> </span>    </div> <button class="btn btn-info">Add to Cart</button><button>Delete</button>
              
                <% }) %> 
                <% } %>    
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>